<div class="bookRegi">
    <h1>BookSearch</h1>
    <form method="post" action="#">
     <label for="booktype">BookType</label>
     <p><select name="bookt" id="bookt">
        <option value="Se">Knowledge and Taste Book</option>
        <option value="Cs">Novels</option>  
        <option value="Ne">Education Book</option>
         </select></p>
      <label for="booknane">Book Name</label>
     <p><select name="bookn" id="bookn">
        <option value="Dgi">Flower and Bees</option>
        <option value="Or">LoveYourImperfect</option>  
        <option value="Ec">Computer Programming</option>
         </select></p>
     <label for="addcart">Please select follow</label>
     <p>AddToCart<input type="radio" id="addcart" name="addcart" value="addcart">
         Cancle<input type="radio" id="cancle" name="cancle" value="cancleb"></p>
     <label for="qty">Quantity</label><p><input type="text" name="qty" value=""placeholder="pls fill book qty"></p>
      <button class="regi">Submit </button>
    </form>
  </div>
