<div class="Register">
    <h1>Student Account Register To Access Our website</h1>
    <form method="post" action="#">
      <label>Name</label>
      <p><input type="text" name="Name" value="" placeholder="Name"></p>  
      <label>Email</label>
      <p><input type="text" name="Email" value="" placeholder="Email"></p>
      <label>MobilePhone</label>
      <p><input type="text" name="MobilePhone" value="" placeholder="MobilePhone"></p>
      <label>StudentId</label>
      <p><input type="text" name="StudentId" value="" placeholder="StudentId"></p>
      <label>Password</label>
      <p><input type="password" name="Password" value="" placeholder="Password"></p>
      <label>Confirm Password</label>
      <p><input type="password" name="ConfirmPassword" value="" placeholder="ConfirmPassword"></p>
      <p class="submit"><button>Register</button>
    </form>
  </div>