<form action="post" method="">
    <h1>Please Give FeedBack To Our Appliction</h1>
    <label for="text1">Easy to use and save time.</label><br>
    <input type="checkbox" id="feedback" name="feedback" value="good"><b>good</b><br>
    <input type="checkbox" id="feedback" name="feedback" value="notbad"><b>normal</b><br>
    <input type="checkbox" id="feedback" name="feedback" value="bad"><b>bad</b><br>

    <label for="text2">You can get what you need.</label><br>
    <input type="checkbox" id="feedback1" name="feedback1" value="good"><b>good</b><br>
    <input type="checkbox" id="feedback1" name="feedback1" value="notbad"><b>normal</b><br>
    <input type="checkbox" id="feedback1" name="feedback1" value="bad"><b>bad</b><br>


    <label for="text3">Enjoy when using our app.</label><br>
    <input type="checkbox" id="feedback2" name="feedback2" value="good"><b>good</b><br>
    <input type="checkbox" id="feedback2" name="feedback2" value="notbad"><b>normal</b><br>
    <input type="checkbox" id="feedback2" name="feedback2" value="bad"><b>bad</b><br>
    <button>submit</button>
</form>